.about {
  @extend %section-padding;
  background-color: $bg-2;
  // background-color: #21253e;
}

.about__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // align-items: center;
  // justify-items: end;
  place-items: end;
  gap: 30px;
  overflow-x: hidden;

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}

.about__content {
  padding: 15px;
  background-color: #454d71;
  border-radius: 6px;
  box-shadow: 0 3px 8px #0000003d;
  border: 1px solid $text-color;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.about__title {
  @extend %title;
  cursor: text;
}

.about__logo {
  display: inline-block;
  margin-right: 10px;
  border: 5px solid $accent-text;
  border-radius: 50px;
}

.about__pre-title {
  display: inline-block;
  color: $accent-text;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 1px 1px 2px pink;
  cursor: text;
}

.about__text {
  margin-bottom: 0;
  color: $text-color;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 16px);
  cursor: text;

  // @media screen and (max-width: 580px) {
  //   font-size: 14px;
  // }
}

// .about__image {
//   // overflow: hidden;
//   border-radius: 6px;
// }

.about__image img {
  border-radius: 6px;
  padding: 15px;
  background-color: #454d71;
  border: 1px solid $text-color;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  // width: 100%;
  // height: 100%;
  // transform: scale(1);
  // transition: transform 250ms linear;
}

// .about__image img:hover,
// .about__image img:focus {
//   transform: scale(1.05);
// }
