/* 1. СТИЛІ: Тут секрет плавності */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.accordion-title {
  border: 1px solid $text-color;
  gap: 15px;

  width: 100%;
  padding: 30px;
  cursor: url('image/cursor/cursor-2.png'), auto;
  border: none;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 580px) {
    padding: 17px;
  }

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;

    // 1. Початковий стан: стрілка вправо стає стрілкою вниз
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

    path {
      fill: #333; // Або ваш колір, бо у вас в коді стоїть білий (ffffff)
    }
  }

  &.active {
    svg {
      // 2. Активний стан: повертаємо вгору
      transform: rotate(90deg);
    }
  }
}

.accordion-title button {
  background-color: transparent;
  border: none;
  text-align: left;
  color: $text-color;
  cursor: url('image/cursor/cursor-2.png'), auto;
  padding: 0;
  line-height: 1.4;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.content-inner {
  color: $text-color;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;

  @media screen and (max-width: 580px) {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 17px;
  }
}

.accordion-item.active {
  .accordion-content {
    max-height: 1000px; // Або розрахована висота через JS
  }

  .content-inner {
    transform: translateY(0); // Текст плавно опускається на своє місце
    opacity: 1;
  }
}
