.advantages {
  @extend %section-padding;
  background-color: $bg-2;

  @media screen and (max-width: 580px) {
    padding-top: 40px;
  }
}

.advantages__title-1 {
  font-weight: 400;
  font-size: 16px;
  color: $text-color;
  padding: 30px;
  border: 1px solid $text-color;
  border-radius: 6px;
  margin-bottom: 100px;
  font-size: clamp(14px, 4.25vw, 30px);

  background: linear-gradient(to right, #3e446457, #21253e),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (max-width: 580px) {
    padding: 17px;
    margin-bottom: 40px;
  }
}

.advantages__title {
  @extend %title;
  cursor: text;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @media screen and (max-width: 580px) {
    row-gap: 30px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 31.7%;
  padding: 15px;
  background-color: #454d71;
  border-radius: 6px;
  text-align: center;
  border: 1px solid $text-color;
  transition: border 250ms linear;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (max-width: 1263px) {
    width: 31%;
  }

  @media screen and (max-width: 896px) {
    width: 47%;
  }

  @media screen and (max-width: 580px) {
    width: 100%;
    padding: 17px;
  }
}

.advantages__item-2 {
  display: flex;
  // flex-direction: column;
  align-items: center;
  width: 31.7%;
  padding: 30px;
  background-color: #454d71;
  border-radius: 6px;
  text-align: center;
  border: 1px solid $text-color;
  transition: border 250ms linear;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (max-width: 1263px) {
    width: 31%;
  }

  @media screen and (max-width: 896px) {
    width: 47%;
  }

  @media screen and (max-width: 580px) {
    width: 100%;
    padding: 17px;
  }
}

.advantages__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  transition: transform 250ms linear;

  @media screen and (max-width: 580px) {
    width: 50px;
  }
}

.advantages__text {
  margin-top: 15px;
  // @extend %font__size;
  text-align: left;
  // margin-left: 20px;
  margin-bottom: 0;
  color: $text-color;
  // font-weight: 700;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 16px);
  transition: color 250ms linear;
  cursor: text;
}

.advantages__text-2 {
  // margin-top: 15px;
  // @extend %font__size;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
  color: $text-color;
  // font-weight: 700;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 16px);
  transition: color 250ms linear;
  cursor: text;
}

.advantages__text-1 {
  color: $text-color;
  text-align: left;
  margin-bottom: 0;
}

.advantages__numbers {
  color: $accent-text;
  margin-bottom: 0;
  font-size: 75px;
  font-weight: 900;
}

.d {
  border: none;
  padding: 18px;
  width: 70px;
}

.advantages__item-3 {
  display: flex;
  // flex-direction: column;
  align-items: center;
  // width: 31.7%;
  padding: 30px;
  background-color: #454d71;
  border-radius: 6px;
  text-align: center;
  border: 1px solid $text-color;
  transition: border 250ms linear;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  width: 100%;

  @media screen and (max-width: 500px) {
    display: block;
    padding: 17px;
  }
}

.advantages__text-3 {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
  color: $text-color;
  // font-weight: 700;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 16px);
  transition: color 250ms linear;
  cursor: text;

  @media screen and (max-width: 500px) {
    margin-left: 0;
    margin-top: 17px;
  }
}
