.contacts {
  background-color: $bg-2;
  @extend %section-padding;

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.contacts__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}

.contacts__form {
  justify-items: center;
}

.contacts__title {
  @extend %title;
  cursor: text;
}

.form-1 {
  margin-left: auto;
  padding: 15px;
  width: 100%;
  max-width: 520px;
  background-color: $bg-color;
  border: 2px solid $text-color;
  border-radius: 6px;
}

.form__logo-1 {
  @extend %logo;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $bg-color;
  font-size: 20px;

  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}

.form2__wrap-logo {
  display: flex;
}

.form__logo-2 {
  @extend %logo;
  color: $bg-color;
}

.form__logo-3 {
  @extend %logo;
  margin-bottom: 15px;
  color: $text-color;
  font-size: 16px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.form__input-name {
  margin-bottom: 5px;
  color: $text-color;
  font-size: 20px;
  font-size: clamp(14px, 4.25vw, 16px);
  cursor: text;
}

.form__title {
  // font-weight: 400px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: $text-color;
  text-align: center;
  // font-size: 23px;
  // font-size: clamp(16px, 5.25vw, 17px);
  // font-size: 16px;
  font-size: clamp(14px, 3.25vw, 15px);
  cursor: text;
}

.form__1-input {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  color: $accent-text;
  background-color: #3e446424;
  border-radius: 6px;
  border: 1px solid $text-color;
}

.form__1-input::placeholder {
  color: $accent-text;
}

.form__1-textarea::placeholder {
  color: $accent-text;
}

.form__1-textarea {
  margin-bottom: 20px;
  padding: 12px 15px;
  border: 1px solid $text-color;
  width: 100%;
  color: $accent-text;
  background-color: #3e446424;
  resize: none;
  border-radius: 6px;
}

.form__button {
  width: 100%;
  max-width: 506px;
  border: 1px solid $text-color;
  color: $text-color;
  background-color: $bg-2;
}

input:focus {
  outline: none;
  border: 2px solid $text-color;
}

input:focus:invalid,
textarea:focus:invalid {
  border: solid 2px #f5192f;
}

input:focus:valid,
textarea:focus:valid {
  background-color: #3e446424;
  border: solid 2px #18e109;
}

.contacts__text {
  padding: 15px;
  background-color: #454d71;
  border-radius: 6px;
  box-shadow: 0 3px 8px #0000003d;
  font-size: clamp(14px, 4.25vw, 16px);
  border: 1px solid $text-color;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.contacts__text1 {
  text-align: center;
  font-weight: 600;
  color: $text-color;
  font-size: clamp(25px, 4.25vw, 42px);
}

.form__none1 {
  display: none;
}

.form_answer1 {
  display: none;
}

.form_answer-block1 {
  display: block;
  margin-top: 25px;
}

.form__answer-text1 {
  color: $text-color;
  font-size: 20px;
  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}

.form__answer-text {
  color: $text-color;
  font-size: 20px;
  @media screen and (max-width: 580px) {
    font-size: 14px;
  }
}
