.footer {
  @extend %section-padding;
  background-color: $bg-2;
  // background-color: #21253e;
}

.footer__wrap {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media screen and (max-width: 580px) {
    gap: 0;
  }
}

.logo__wrap {
  display: flex;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: $text-color;
  font-size: 20px;
  font-size: clamp(14px, 5.25vw, 20px);

  // @media screen and (max-width: 580px) {
  //   font-size: 14px;
  // }
}

.logo__text {
  font-size: clamp(12px, 3.25vw, 14px);
  margin-bottom: 0;
}

// .color {
//   color: $bg-color;
// }

.logo__image {
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}

.footer__icons {
  display: flex;
  margin-left: auto;
  gap: 20px;
  transform: translateY(0);
  transition: transform 250ms linear;

  @media screen and (max-width: 580px) {
    gap: 10px;
  }
}

.icon {
  fill: $text-color;
  // border: 1px solid $accent-text;
  // background-color: white;
  // border-radius: 50%;
  // transition: fill 250ms linear;
  transform: translateY(0);
  transition: transform 250ms linear, color 250ms linear,
    background-color 250ms linear;
}

.icon:hover,
.icon:focus {
  transform: translateY(-3px);
  // @extend %button__hover;
  fill: $accent-text;
}

.title-projects {
  font-size: clamp(37px, 5.25vw, 49px);
}

.hero-title-2 {
  color: $text-color;
  font-size: clamp(15px, 2.25vw, 25px);
}

.image {
  @extend %section-padding;
  background-color: $bg-2;
}

.footer-image {
  border: 1px solid $text-color;
  border-radius: 6px;
  padding: 15px;

  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.video {
  background: linear-gradient(to right, #3e446457, #e4c9a23b),
    url(/src/image/background/2aa.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
